<% include ../partials/header %>                          <!-- Including header partial -->

    <% if(currentUser && currentUser.isadmin){ %>
        
    <% } %>
    
    <header class="jumbotron">                                                          <!-- Jumbotron is header fro bootstrap -->
        <div class="container">
            <h1><span class="glyphicon glyphicon-tent"></span> Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>                                                                             <!-- paragraph to set it in a new line -->
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
            </p>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Campground search..." class="form-control">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
            <% if(searchTerm){ %>
                <h4>You searched for: <%= searchTerm %></h4>            
            <% } %>
        </div>
    </header>
    
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <div class="col-md-12">
             <% if(noMatch !== null) { %>
             <h3><%= noMatch %></h3>
             <p>
            	<form action="/campgrounds" method="GET" class="form-inline">
            		<div class="form-group">
            			<input type="text" name="search" placeholder="Campground search..." class="form-control">
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form>
            </p>
             <% } %>
         </div>
            <% campgrounds.forEach(function(camp) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= camp.images %>">
                    <div class="caption">
                        <h4><%= camp.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info!</a>
                    </p>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    

<% include ../partials/footer %>                          <!-- Including footer partial -->